



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}
*:not(pre):not(code):not(kbd):not(samp):not(var) {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  color: #e65100;
}

